@import url("https://fonts.googleapis.com/css?family=Merriweather:400,400i,700");
* {
  box-sizing: border-box;
}

.volume{
	color: black;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.bpm{
	color: black;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.text-center{
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.btn-success, .btn-primary, .btn-warning, .btn-danger{
  color: white;
  font-weight: 500;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
