@import url("https://fonts.googleapis.com/css?family=Merriweather:400,400i,700");
* {
  box-sizing: border-box;
}

body{
	font-family: Merriweather, serif;
}

.volume{
	color: black;
  font-family: 'Sans-serif';
}

.bpm{
	color: black;
  font-family: 'Sans-serif';
}